.herobg{
  background-color: red;
  height: 100vh;
  width: auto;
  background-image: url(../../public/herobg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.103);
}

body{
  margin: 0px;
}

p{
  margin: 0px;
}

.rotate-animation {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}